# API (dev local)
EXPO_PUBLIC_API_URL=http://localhost:3000/api
EXPO_PUBLIC_WS_URL=http://localhost:3000

# Mapbox (Phase 3)
# EXPO_PUBLIC_MAPBOX_TOKEN=pk.YOUR_MAPBOX_TOKEN

EXPO_PUBLIC_ENV=development
